* {
    text-align: center;
    box-sizing: border-box;
}

.col-8 {
    width: 600px;
    max-width: 100%;
    margin-left: 400px;
    background-color: aliceblue;
    border: 10px groove rgb(150, 150, 224);
    padding-bottom: 10px;
}

.col-4 {
    width: 300px;
    max-width: 100%;
    margin-right: 300px;
    background-color: aliceblue;
    border: 10px groove rgb(150, 150, 224);
    padding-bottom: 10px;
}

body {
    width: 1100px;
    max-width: 100%;
    margin: 10px auto;
    border: 10px inset rgb(150, 150, 224);
    padding-bottom: 10px;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.31%}
.col-8 {width: 66.66%;}
.col-9{width: 74.97%}
.col-10 {width: 83.3%}
.col-11{width: 91.63%}
.col-12{width: 100%}


#totalCafe {
    width: 70px;
}
#totalBolo {
    width: 70px;
}
#totalCachorro {
    width: 70px;
}
#totalBanner {
    width: 70px;
}
#totalCracha {
    width: 70px;
}
#totalCamiseta {
    width: 70px;
}

#totalAlimento {
    width: 120px;

}
#totalAlimento2 {
    width: 120px;


}
#totalAlimento3 {
    width: 120px;
}

#totalItens {
    width: 120px;


}
#totalItens2 {
    width: 120px;


}
#totalItens3 {
    width: 120px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao {
    margin-top: 20px;
}

table {
    border: 3px dashed cornflowerblue;
    background-color: lightblue;
    margin: auto;
}


#totalEvento {
    width: 120px;
    text-align: center;
}
#totalEvento2 {
    width: 120px;
    text-align: center;
}
#totalEvento3 {
    width: 120px;
    text-align: center;
}