table {
    border: 1;
}

#totalCafe {
    width: 70px;
}
#totalBolo {
    width: 70px;
}
#totalCachorro {
    width: 70px;
}
#totalBanner {
    width: 70px;
}
#totalCracha {
    width: 70px;
}
#totalCamiseta {
    width: 70px;
}

#totalAlimento {
    width: 70px;
}
#totalAlimento2 {
    width: 70px;
}
#totalAlimento3 {
    width: 70px;
}

#totalItens {
    width: 70px;
}
#totalItens2 {
    width: 70px;
}
#totalItens3 {
    width: 70px;
}

#totalEvento {
    width: 70px;
}
#totalEvento2 {
    width: 70px;
}
#totalEvento3 {
    width: 70px;
}