table {
    border: 1;
}

#totalCafe {
    width: 70px;
}
#totalBolo {
    width: 70px;
}
#totalCachorro {
    width: 70px;
}
#totalBanner {
    width: 70px;
}
#totalCracha {
    width: 70px;
}
#totalCamiseta {
    width: 70px;
}

#totalAlimento {
    width: 120px;
    text-align: center;
}
#totalAlimento2 {
    width: 120px;
    text-align: center;

}
#totalAlimento3 {
    width: 120px;
    text-align: center;

}

#totalItens {
    width: 120px;
    text-align: center;

}
#totalItens2 {
    width: 120px;
    text-align: center;

}
#totalItens3 {
    width: 120px;
    text-align: center;

}

* {
    text-align: center;
    margin: auto;

    box-sizing: border-box;

}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao {
    margin-top: 20px;
}

table {
    border: 3px;
    background-color: rgb(158, 191, 219);
}

.dados {
    border: 10px inset rgb(150, 150, 224);
    margin-right: 500px;
    margin-left: 550px;
    padding-bottom: 10px;
}

#totalEvento {
    width: 120px;
    text-align: center;
}
#totalEvento2 {
    width: 120px;
    text-align: center;
}
#totalEvento3 {
    width: 120px;
    text-align: center;
}